<footer class="footer">
      <div class="container text-center">
        <span class="text-muted ">{{title}} &copy; 2018  &bull; Photo by rawpixel on Unsplash</span>
        
      </div>
    </footer>