<div class='jumbotron text-center'>

<h1 class="display-3">{{title}}</h1>
<p class = "lead">Pour over current dev newse &amp; bookmark your favorites</p>
{{!-- add the correct route --}}
<a href="/scrape" class="btn btn-dark btn-lg">Scrape The News</a>
</div>

 <div id="wrapper" class="jumbotron">
      <h1>Review the {{title}}</h1>
     
      <div id="articles"></div>
      <div id="notes"></div>
    </div>